<ion-header>
  <ion-navbar color="dark">
    <ion-title>search</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="presentFilterModal()">Search</button>
  <!-- Search Result List -->
  <ion-list>
    <ion-item *ngIf="filterEmpty">
      <p>Filtered Results are Empty</p>
    </ion-item>
    <ion-item *ngFor="let estate of estates">
      <ion-row>
        <ion-col>
          {{estate.angebot_titel}} in {{estate.ortname}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-thumbnail item-start>
          <img [src]="
            estate.media ?
            sanitizeUrl('http://' + restUrl + '/fa17g17/img/' + estate.media.split(',')[0]) : sanitizeUrl('http://' + restUrl + '/fa17g17/img/' + 'haus1.jpg')
            "/>
        </ion-thumbnail>
        <p>Price: {{estate.kaufpreis}} Rooms: {{estate.zimmeranzahl}}</p>
        <ion-icon name="star" style="color: gray"></ion-icon>
        <button ion-button clear item-end (click)="toEstateDetail(estate.angebot_id)">Details</button>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
